@model List<final_project.Models.result>
@{
    Layout = "_Layout3";
}
<!-- start header  -->
<!-- end header  -->
<!-- start result container -->
<div class="container">
    <h1 class="result">Results</h1>
    <div class="res-info">
        <div class="res-number">
            <h3>Your Footprint Is Equal To</h3>
            <h1>10</h1>
            <h3>Tonnes CO<span style="font-size: 15px;">2</span></h3>
        </div>
        <div class="res-advice">
            <div class="image">
                <img src="images/forest.jpg" alt="" />
            </div>
            <div class="advice">
                <span style="font-weight: bold;"> HELPING FAMILIES CONNECT WITH NATURE </span>
                <br>
                We're dedicated to supporting
                young people and their families to learn more about our world and
                experience the wonders of nature together.
            </div>
        </div>
    </div>
</div>
<!-- end result container -->
<!-- start category container  -->
<div class="category-res">
    <div class="container">
        <h3 class="cat-header">Let's Break It Down !</h3>
        <div class="category-container">
            <div class="cat">
                <div class="icon">
                    <i class="fa-solid fa-burger fa-4x"></i>
                    <h2 class="mt-4">4.5 Toones CO<span style="font-size: 15px;">2</span></h2>
                </div>
                <div class="discription">
                    <h2>Food</h2>
                    <p>Your Consumptiohn Is Equal To 20%</p>
                </div>
            </div>
            <div class="cat">
                <div class="icon">
                    <i class="fa-solid fa-house fa-4x"></i>
                    <h2 class="mt-4">4.5 Toones CO<span style="font-size: 15px;">2</span></h2>
                </div>
                <div class="discription">
                    <h2>Home</h2>
                    <p>Your Consumptiohn Is Equal To 20%</p>
                </div>
            </div>
            <div class="cat">
                <div class="icon">
                    <i class="fa-solid fa-plane fa-4x"></i>
                    <h2 class="mt-4">4.5 Toones CO<span style="font-size: 15px;">2</span></h2>
                </div>
                <div class="discription">
                    <h2>Travel</h2>
                    <p>Your Consumptiohn Is Equal To 20%</p>
                </div>
            </div>
            <div class="cat">
                <div class="icon">
                    <i class="fa-solid fa-recycle fa-4x"></i>
                    <h2 class="mt-4">4.5 Toones CO<span style="font-size: 15px;">2</span> </h2>
                </div>
                <div class="discription">
                    <h2>Others</h2>
                    <p>Your Consumptiohn Is Equal To 20%</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end category container  -->
