@{
    Layout = "_layout";
}


<body>

    <!-- ======= Header ======= -->


    <section id="home" class="d-flex flex-column justify-content-center align-items-center">
        <div class="container" data-aos="fade-in">
            <h1>Calculate Your Carbon Footprint</h1>
            <h2>In a few minutes, Calculate Your Carbon Footprint .</h2>
            <div class="d-flex align-items-center">
                <i class="fa-solid fa-arrow-right get-started-icon "></i>
                <a asp-action="Home" asp-controller="Home" class="btn-get-started scrollto">Get Started</a>
            </div>
        </div>
    </section><!-- End Home -->

    <main id="main">

        <!-- -------home Section ------- -->
        <section id="why-us" class="why-us">
            <div class="container">

                <div class="row">
                    <div class="col-xl-4 col-lg-5" data-aos="fade-up">
                        <div class="content">
                            <h3>How to Calculate Your Carbon Footprint?</h3>
                            <p>
                                Calculating your carbon footprint can help you to identify ways that you can lessen your impact on the environment.
                                Calculating your carbon footprint requires taking lots of different factors into account.
                                You may not be able to get an exact figure to represent your carbon footprint, but you can get a close estimate.
                            </p>
                            <div class="text-center">
                                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 d-flex">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="fa-solid fa-burger"></i>
                                        <h4>Food</h4>
                                        <p>
                                            Calculating your carbon footprint can help you to identify ways that you can lessen your impact on the environment.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="fa-solid fa-plane"></i>
                                        <h4>Travel</h4>
                                        <p>
                                            Calculating your carbon footprint can help you to identify ways that you can lessen your impact on the environment.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="fa-solid fa-house"></i>
                                        <h4>Home</h4>
                                        <p>
                                            Calculating your carbon footprint can help you to identify ways that you can lessen your impact on the environment.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- ------- end `home Section ------- -->
        <!-- Background Video-->
        <section id="video" class="video">

            <!-- Masthead-->

            <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="~/images/bg.mp4" type="video/mp4" /></video>
            <div class="text">
                How to reduce your carbon footpriint ?
            </div>

        </section>
        <!-- end Background Video-->
        <!-- ======= information Section ======= -->
        <section id="information" class="information">
            <div class="container" data-aos="zoom-in">

                <div class="row">
                    <div class="col-lg-9 text-center text-lg-start">
                        <p>
                            You can minimise your ecological footprint and help the environment in many different ways.
                            Whether at home, work, school, or while you travel, small changes can add up.
                            In brief, to reduce your ecological footprint, you'll want to do things like reduce the amount of energy you use,
                            eat fewer animal products, shop locally, travel smart, and reduce your waste.
                        </p>
                    </div>
                    <div class="col-lg-3 information-btn-container text-center">
                        <a class="information-btn align-middle" href="#">Read More <i class="fa-solid fa-angles-right"></i></a>
                    </div>
                </div>

            </div>
        </section>
        <!-- End information Section -->
        <!--  JS Files -->


</body>
