@model final_project.Models.result;
@{
    Layout = "_Layout1";
}


<div class="container">
    <!-- start question header  -->
    <div class="categoryheader d-flex align-items-center mt-2">
        <div class="icon">
            <i class="fa-solid fa-truck-plane"></i>
        </div>
        <div class="categoryname">
            <h2>Transportation</h2>
            <div class="prog">
                <span class="inner-prog"></span>
            </div>
        </div>
    </div>
    <!-- end question header  -->
    <div class="foodcontainer row gx-0 gy-0 align-items-center">
        <div class="col formcont text-center col-xs-12 col-lg-6">
            <form method="post" asp-action="savetransportation">
                <div>
                    <div>
                        <label for="car">
                            On average, how long does your flight take:
                        </label>
                        <input asp-for="value" name="flight1" placeholder=" 1 hr" />


                    </div>

                </div>
                <div>
                    <div>
                        <label for="bus">
                            How many flights do you take each year:
                        </label>
                        <input asp-for="value" name="flight2" placeholder=" 1 F" />

                    </div>

                </div>
                <div>
                    <div>
                        <label for="train">How many hours do you spend on the train each week:</label>
                        <input asp-for="value" name="train" placeholder=" 1 hr " />

                    </div>

                </div>
                <div>
                    <div>
                        <label for="flights-number">
                            How many hours do you spend on the bus each week:
                        </label>
                        <input asp-for="value" name="bus" placeholder=" 1 hr " />

                    </div>

                </div>
                <div>
                    <div>
                        <label for="flight-time"> How many km do you travel by car each week:</label>
                        <input asp-for="value" for="flight-time" name="car" placeholder=" 1 Km " />

                    </div>

                </div>
                <button name="submit" id="submit" class="btn btn-success">
                    submit your answeres
                </button>
            </form>
            <button name="previous" id="previous" class="btn prev btn-success">
                <i class="fa-solid fa-angle-left"></i> Previous
            </button>
            &nbsp;
            <button name="next" id="next" class="btn next btn-success">
                Next <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="information row gx-0 gy-0 align-items-center">
                <div class="image col-xs-12 col-sm-6">
                    <img src="~/images/flight.jpg" alt="" />
                </div>
                <div class="text col-xs-12 col-sm-6">
                    Travel. Your footprint will vary depending on whether or not you
                    have car/motorbike, as well as how often you use it. Similarly,
                    your use of public transport contributes. Any flights you take
                    also need accounting for, as these contribute significantly.
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js1/all.min.js"></script>
    <script src="~/js1/bootstrap.bundle.min.js"></script>
    <script src="~/js1/transportation.js"></script>
}